.CloseButton-styling{
  fill:red;
  height:16px;
}

.CloseButton-styling:hover{
  fill: rgb(240,100,100);
  cursor:pointer;
}

.CloseButton-styling-nav{
  height:25px;
  width:25px;
}

.CloseButton-styling-nav:hover{
  fill:rgb(50,50,50);
  cursor:pointer;
}

.CloseButton-styling-chat{
  height:25px;
  width:25px;
}

.CloseButton-styling-chat{
  fill:rgb(50,50,50);
  cursor:pointer;
}