.CloseButton-styling{
  fill:red;
  height:16px;
}

.CloseButton-styling:hover{
  fill: rgb(240,100,100);
  cursor:pointer;
}

.CloseButton-styling-nav{
  height:25px;
  width:25px;
}

.CloseButton-styling-nav:hover{
  fill:rgb(50,50,50);
  cursor:pointer;
}

.CloseButton-styling-chat{
  fill:rgb(0,0,0);
  height:20px;
  width:20px;
}

.CloseButton-styling-chat:hover{
  fill:rgb(50,50,50);
  cursor:pointer;
}

.CloseButton-styling-name{
  height:30px;
  width:30px;
  fill:rgb(255,0,0);
  margin-left:5px;
  margin-right:5px;
}

.CloseButton-styling-name:hover{
  fill:rgb(204,100,100);
  cursor:pointer;
}