.Game-ResponseCard{
  height: 100px;
  width: 200px;
  border: 2px solid red;
  text-align: center;
  
}
.Game-ResponseCard:hover{
  cursor: pointer;
}

.gamesettings-container{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  height: 100vh;
}

.game-container{
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items: center;
  width:100%;
}

.players-side{
  width:400px;
  height:500px;
  margin-right:5px;
}

.settings-side{
  width:400px;
  height:500px;
  margin-left:5px;
}

.players-container{
  border-radius:20px;
  background-color: rgba(240,240,240,0.7);
  padding:20px;
}

.container-label{
  text-align:center;
}

.settings-container{
  border-radius: 20px;
  background-color: rgba(240,240,240,0.7);
  padding:20px;
  text-align:center;
}

.player-container{
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-bottom:10px;
}

.name-label{
  margin:0;
}

.points-label{
  margin:0;
}

.label-icon{
  margin:0;
  background-color: rgb(82, 122, 197);
  border-radius:100px;
  padding-left: 10px;
  font-size: 12px;
  padding-right: 10px;
  color:white;
}

.player-info-container{
  margin-left: 5px;
}