.card-container{
  width:200px;
  min-height:100px;
  height: auto;
  margin: 40px 20px;
}

.card-inner{
  position:relative;
  width: 200px;
  min-height:100px;
  height: auto;
  transform-style: preserve-3d;
  cursor: pointer;
}

.card-ResponseCard{
  background-color: rgb(208, 215, 223);
  width:200px;
  min-height:100px;
  height: auto;
  padding: 5px 10px;
  border-radius: 15px;
  color:black;
}

.card-inner.is-selected{
  transform: scale(1.1);
  animation: scaleT 0.3s ease;
  z-index: 1;
}

@keyframes scaleT {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.1);
    }
  }

.card-face{
  position:absolute;
  width:200px;
  min-height:100px;
  height: auto;
  backface-visibility: hidden;
  overflow: hidden;
  border-radius:10px;
  box-shadow: 0px 3px 18px 3px rgba(0,0,0,0.2);
  display:flex;
  align-items: center;
  justify-content: center;
}

