.CopyToClipboard-container{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.CopyToClipboard-link-holder{
  display:flex;
  flex-direction:row;
  align-items:center;
  background-color:white;
  border-radius:5px;
  position:relative;
}

.CopyToClipboard-link{
  resize: none;
  height:15px;
  width:100%;
  border:none;
  overflow:hidden;
  border-radius:5px;
}

.CopyToClipboard-title{
  margin:0;
}