.EditableCard-parent{
    display: inline-block;   
    margin-top: 15px;
    width: 100%;
    border-radius: 10px;
    animation: slide 0.3s ease;
}
@keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}
.EditableCard-parent:hover{
    transform: scale(1.01);
}
.EditableCard-trashImage{

    display: inline-block;  
    width: 12px; 
    height: 15px;  
    margin-left: auto;
    margin-right: 5px auto;
    margin-top: auto;
    margin-bottom: auto;
}

.EditableCard-trashImage:hover{
    transform: scale(1.2);
}
.EditableCard-textInput{ 
    display: inline-block;  
    width: 80%;
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
    object-position: 10%;
}

.EditableCard-parent-invalid{
    background-color: rgb(175, 25, 25);
}