.GameChat-chat-container{
  min-width:300px;
  height:50%;
  overflow:hidden;
}

.GameChat-chat-title{
  text-align:center;
  margin:0;
  height:30px;
}

.GameChat-message-container{
  border-bottom: 2px solid black;
  border-width:thin;
  width:100%;
  height:calc(100% - 40px);
  padding-right:0;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  overflow-y: auto;
}

.GameChat-message-container:after{
  content: "";
  display:block;
  height:50px;
  width:100%;
}

.GameChat-content-container{
  background-color: rgba(240,240,240,0.7);
  height: calc(100% - 30px);
}

.GameChat-text-input-container{
  height:40px;
  width:100%;
  display:flex;
  flex-direction:row;
  border-bottom-left-radius:10px;
}

.GameChat-text-input{
  width:80%;
  resize: none;
  border-bottom-left-radius:10px;
}

.GameChat-text-sender{
  width:20%;
  margin: 0;
}

@media(max-width:800px){
  .GameChat-chat-container{
    width:50%;
    height:100%;
  }
}