.PlayerListItem-players-side{
  width:400px;
  height:500px;
  margin-right:5px;
}

.PlayerListItem-players-container{
  border-radius:20px;
  background-color: rgba(240,240,240,0.7);
  height:350px;
  padding:20px;
}

.LeaderboardPlayerIcon-container-label{
  text-align:center;
}

.LeaderboardPlayerIcon-player-container{
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-bottom:10px;
}

.LeaderboardPlayerIcon-player-image-container{
  display:flex;
  flex-direction:row;
  align-items:center;
}

.LeaderboardPlayerIcon-player-self{
  background-color: rgb(190,250,180);
}

.LeaderboardPlayerIcon-name-label{
  margin:0;
}

.LeaderboardPlayerIcon-points-label{
  margin:0;
}

.LeaderboardPlayerIcon-label-icon{
  margin:0;
  background-color: rgb(82, 122, 197);
  border-radius:100px;
  padding-left: 10px;
  font-size: 12px;
  padding-right: 10px;
  color:white;
}

.LeaderboardPlayerIcon-player-info-container{
  margin-left: 5px;
}