nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ACBED8;
  align-items:center;
  padding: 0 20px;
  height:60px;
  position:relative;
}

.NavBar-nav-links{
  width:70%;
}

.NavBar-nav-links-closed{
  width:70%;
}

.NavBar-nav-list{
  list-style: none;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

.NavBar-hamburger{
  display:none;
}

.NavBar-nav-logo{
  height:60px;
}

.NavBar-link{
  text-decoration: none;
  color:black;
  text-align:center;
  width:100%;
}

@media (max-width: 800px){
  .NavBar-nav-links{
    /*display:none;*/
    position:absolute;
    top:60px;
    left:0px;
    width:100%;
    background-color:#B9C6E1;
    z-index:2;
  }

  .NavBar-nav-links-closed{
    display:none;
  }

  .NavBar-nav-list{
    flex-direction:column;
    align-items:center;
    padding:0;
    margin:0;
  }

  .NavBar-nav-item{
    padding-top:10px;
    padding-bottom:10px;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    margin:0;
  }

  .NavBar-nav-item:hover{
    background-color:#C5D3EF;
  }

  .NavBar-hamburger{
    display:flex;
    flex-direction:column;
    justify-content:center;
    height:60px;
  }
}