nav{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ACBED8;
  align-items:center;
  padding: 0 20px;
  height:60px;
}

.nav-links{
  width:50%;
}

.nav-list{
  list-style: none;
  display:flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
}

.nav-logo{
  display:table-cell;
  vertical-align: middle;
}

.NavBar-link{
  text-decoration: none;
  color:black;
}