.PlayerList-players-side{
  height:50%;
}

.PlayerList-players-container{
  /*border-radius:20px;*/
  background-color: rgba(240,240,240,0.7);
  height:350px;
  padding:20px;
}

.PlayerList-container-label{
  text-align:center;
  margin:0;
}