.PlayerListItem-player-container{
  display:flex;
  flex-direction:row;
  align-items:center;
  margin-bottom:10px;
}

.PlayerListItem-player-self{
  background-color: rgb(190,250,180);
}

.PlayerListItem-name-label{
  margin:0;
}

.PlayerListItem-points-label{
  margin:0;
}

.PlayerListItem-label-icon{
  margin:0;
  background-color: rgb(82, 122, 197);
  border-radius:100px;
  padding-left: 10px;
  font-size: 12px;
  padding-right: 10px;
  color:white;
}

.PlayerListItem-player-info-container{
  margin-left: 5px;
}

@media(max-width:800px){
  .PlayerListItem-name-label{
    text-align:center;
  }

  .PlayerListItem-player-container{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
  }
  
  .PlayerListItem-label-icon{
    margin:0;
    background-color: rgb(82, 122, 197);
    border-radius:100px;
    padding-left: 10px;
    font-size: 12px;
    padding-right: 10px;
    color:white;
  }
  
  .PlayerListItem-player-info-container{
    display:flex;
    flex-direction:column;
    align-items:center;
  }
}