.ResponseSelector-cards-container{
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items:center;
  justify-items:center;
  margin-bottom:20px;
}

.ResponseSelector-container{
  display:flex;
  flex-direction:column;
  align-items:center;
}

.ResponseSelector-submitButton{
  margin: auto;
  margin-top: 25px;
}