.Settings-settings-side{
  width:40%;
  min-width:350px;
  max-width:450px;
  height: 50%;
  margin-left:20px;
  margin-right:20px;
}

.Settings-container-label{
  text-align:center;
  margin:0;
}

.Settings-settings-container{
  border-radius: 20px;
  background-color: rgba(240,240,240,0.7);
  padding:20px;
  height:calc(100% - 80px);
  min-height:210px;
  max-height:250px;
  text-align:center;
}

.Settings-player-info-container{
  margin-left: 5px;
}

.Settings-start-game{
  display:block;
  width:100%;
  border-radius:100px;
  background-color:rgb(51, 141, 51);
  margin: 10px auto;
  border-style:none;
  font-size:14px;
  color:white;
  padding:5px;
}

.Settings-start-game:hover{
  background-color:rgb(100, 190, 100);
  cursor:pointer;
}

.Settings-settings-label{
  margin:10px;
}

.Settings-decks-selector{
  margin:0;
  border-radius:5px;
}

.Settings-error{
  color:red;
}

.Settings-inactive-button{
  background-color:rgb(180,180,180);
  width:100%;
  border-radius:100px;
  margin: 10px auto;
  border-style:none;
  font-size:14px;
  padding-top:5px;
  padding-bottom:5px;
}