.WinnerSelector-cards-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.WinnerSelector-container{
  display:flex;
  flex-direction:column;
  align-items:center;
}